<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>第三週主線任務-登入頁面</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div class="js_index">
    <!-- 導覽列 -->
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark px-5">
      <div class="container">
        <div class="container-fluid d-flex justify-content-between align-items-center">
          <a class="navbar-brand" href="#">
            <span><i class="fas fa-crow pe-1"></i></span>
            natural
          </a>
          <div class="nav_lists">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-0" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link px-3" href="index.html" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3 disabled" href="#" tabindex="-1" aria-disabled="true">線上商城</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-3" href="backstage_products.html" v-if="loginStatus">進入後台</a>
                </li>
                <li class="nav-item" v-if="!loginStatus">
                  <a class="nav-link px-3" href="login_page.html">登入</a>
                </li>
                <li class="nav-item" v-else-if="loginStatus">
                  <a class="nav-link px-3" href="#">登出</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- login_page -->
    <section class="container p-5">

      <div class="login_page row shadow border rounded">
        <div class="col-xl-8 col-md-6 p-0 bc_img"></div>
        <div class="col-xl-4 col-md-6 py-4">
          <div class="rounded-end h-100 py-5">
            <div class="container py-5">
              <h5 class="h2 fw-bold text-center mb-4">登入</h5>
              <!-- 表單 -->
              <form class="js_login_form px-3" @submit.prevent="loginFn">
                <div class="row mb-4">
                  <label for="email_input" class="col-xl-2 col-md-12 col-form-label px-2">帳號</label>
                  <div class="col-xl-10 col-md-12">
                    <input type="email" 
                      name="email" 
                      placeholder="請輸入帳號" 
                      id="email_input" 
                      class="form-control" 
                      :class="{ 'border-danger' : errorStatus.isEmailError}" 
                      v-model="loginDatas.userData.username" 
                      @change="fromValidateFn('email')">
                    <p class="email text-danger text-end m-0 mt-1"
                      v-if="errorStatus.isEmailError">
                      {{ errorStatus.emailErrorMsg }}
                    </p>
                  </div>
                </div>

                <div class="row mb-4">
                  <label for="pw_input" class="col-xl-2 col-md-12 col-form-label px-2">密碼</label>
                  <div class="col-xl-10 col-md-12">
                    <input type="password" 
                      name="password" 
                      placeholder="請輸入密碼" 
                      id="pw_input" 
                      class="form-control" 
                      :class="{ 'border-danger' : errorStatus.isPwError}" 
                      v-model="loginDatas.userData.password" 
                      @change="fromValidateFn('password')">
                    <p class="password text-danger text-end m-0 mt-1"
                      v-if="errorStatus.isPwError">
                      {{ errorStatus.pwErrorMsg }}
                    </p>
                  </div>
                </div>

                <div class="col-12 text-end">
                  <p class="text-danger text-center">
                    {{ loginDatas.error }}
                  </p>
                  <button class="btn btn-success" type="submit" :disabled="loginDatas.isFill">登入</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </section>  
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
  <script src="js/index_all.js"></script>
</body>
</html>